// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import './sbadmin/sb-admin-2.scss';
@import './fontawesome/fontawesome.scss';

.sologo{
    background: url(img/SoGris2.png);
    width:30px;
    height:30px;
    display:inline-block;
    vertical-align: middle;
}

.passwordChange{
    position:absolute;
    background:rgba(255,255,255,0.5);
    border:2px inset #666;
    box-shadow:1px 1px 2px #666;
    width:200px;
    margin-left:-200px;
    z-index:100;
    text-align:center;
}