.details, .xStateDetails {
  nav>ul {
    min-height: 80px;
    background-image: none;
    background-color: transparent;


    &::before,
    &::after {
      display: none;
    }
  }
  
  .xPage {
    background-image: $background-home-mobile;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

#xSectionDetails {
  .xForm {
    padding: 0;
  }

  .xMediaContainer img {
    max-width: 300px;
    padding: 0 5% 0 0;
  }

  .xHelpContainer {
    color: #fff;
    margin: 5px 0 15px 0;
  }
}

.ticketFormContainer {
  ::placeholder,
  .item {
    color: $c-gris;
    opacity: 1;
  }

  .xControlHtml .xFieldContainer {
    text-align: center;
  }

  .xField {
    margin: 0;
  }

  .xFormPages {
    margin: 10%;
    height: auto !important;
    
    .xFormPage {
      position: initial !important;
    }
  }

  label {
    font-weight: bold;
  }

  #nameWrapper,
  #PhoneWrapper,
  #emailWrapper,
  .xControlCheckbox,
  .xControlHtml {
    padding: 0 5%;
  }

  input,
  select {
    color: $c-negro;
    padding: 5px 5px;
    border-radius: 5px;
    text-align: center;

    &::placeholder {
      font-weight: bold;
      text-align: center;
      color: $c-azul;
      opacity: .4;
    }
  }

  button[type="submit"] {
    background: $c-azul;
    font-weight: bold;
  }

  #name_Firstname {
    margin-bottom: 5px;
  }

  #emailWrapper {
    margin-bottom: 10px;
  }

  .xComboInput::after {
    color: $c-azul;
  }

  .xFieldCheckboxChoice {
    display: flex;
    margin: 5px 0;
    align-items: center;

    .xCheckbox {
      span::before {
        content: "";
        display: none;
      }
    }
    
    .checkField {
      opacity: 1;
      width: 10px;
      height: 15px;
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 25px;
        height: 25px;
        margin-top: -4px;
        border-radius: 100%;
        background: $c-blanco;
        border: 5px solid $c-blanco;
        box-shadow: 0 0 0px 3px $c-azul;
      }

      &:checked::before {
        background: $c-azul;
      }
    }
  }

  .xFieldLabel {
    font-weight: normal;
    margin: 0 0 0 20px;
    font-size: 1.6rem;

    a {
      text-decoration: underline;

      &:hover {
        opacity: .8;
      }
    }
  }

  .xControlName,
  .xControlEmail,
  .xControlDate,
  .xControlPhone,
  .xControlNumber {
    .xLabelContainer{
      display: block;
      width: 100%;
      max-width: 100%;
      text-align: center;
      padding: 0;
      
      label {
        width: 100%;
        text-align: center;
        font-family: $font-gothamBold;
      }
    }
  }

  .xControlCheckbox .xLabelContainer {
    display: none;
  }

  .xFieldContainer {
    padding: 0;
  }

  .xFieldItem {
    margin: 0;

    &.xControlCheckbox {
      &.xRequired .xLabelContainer {
        width: 10px;
        min-width: 10px;
        padding: 0;
      }

      .xFormLabel {
        font-family: $font-gothamBold;
        font-size: 1.6rem;
      }
    }
  }

  .xActionsForm {
    margin-top: 30px;
    margin-left: 0;

    .xPagingButton {
      width: 70%;
      margin: auto;
      display: block;
      font-size: 1.6em;
      font-weight: bold;
      border-radius: 10px;
      text-transform: uppercase;
      border: 3px solid $c-blanco;
      background-color: $c-azul-oscuro;
    }
  }
}

@media #{$grid-sm} {
  .ticketFormContainer {
    input,
    select {
      padding: 10px 10px;
    }

    #nameWrapper,
    #PhoneWrapper,
    #emailWrapper,
    .xControlCheckbox,
    .xControlHtml {
      padding: 0 10%;
    }

    #name_Firstname {
      margin-bottom: 0;
    }

    .xFormPages {
      width: auto !important;
    }

    .xActionsForm {
      text-align: center;

      .xPagingButton {
        border: 2px solid $c-blanco;
        display: inline-block;
        width: auto;
      }
    }
  }
}

@media #{$grid-md} {
  .details, .xStateDetails {
    .xPage {
      background-image: $background-home;
    }

    .outer-menu {
      display: none;
    }
  }

  #xSectionDetails .xMediaContainer img {
    max-width: -webkit-fill-available;
  }

  .ticketFormContainer {
    transform: translateY(15%);

    .xFormPages {
      margin: 0 20%;
    }

    .xFieldLabel {
      font-size: 1.9rem;
    }
  }
}

@media #{$grid-lg} {
  .ticketFormContainer {
    #nameWrapper,
    #PhoneWrapper,
    #emailWrapper,
    .xControlCheckbox,
    .xControlHtml {
      padding: 0 18%;
    }
  }
}