.details, .xStateDetails {
  nav>ul {
    background-image: none;
    background-color: transparent;


    &::before {
      display: none;
    }
  }
  
  .xPage {
    background-image: $background-home-mobile;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

#xSectionDetails {
  .xForm {
    padding: 0;
  }

  .xMediaContainer img {
    max-width: 200px;
  }

  .xHelpContainer {
    color: #fff;
    margin: 5px 0 15px 0;
  }
}

.ticketFormContainer {
  ::placeholder,
  .item {
    color: $c-gris;
    opacity: 1;
  }

  .xField {
    margin: 0;
  }

  .xFormPages {
    margin: 10%;
    height: auto !important;
    
    .xFormPage {
      position: initial !important;
    }
  }

  label {
    font-weight: bold;
  }

  input,
  select {
    color: $c-negro;
    border-radius: 5px;
    text-align: center;

    &::placeholder {
      font-weight: bold;
      text-align: center;
      color: $c-azul;
      opacity: .4;
    }
  }

  button[type="submit"] {
    background: $c-azul;
    font-weight: bold;
  }

  #name_Firstname {
    margin-bottom: 5px;
  }

  #emailWrapper {
    margin-bottom: 10px;
  }

  .xComboInput::after {
    color: $c-azul;
  }

  .xFieldCheckboxChoice {
    display: flex;
    margin: 5px 0;
    align-items: center;

    .xCheckbox {
      span::before {
        content: "";
        display: none;
      }
    }
    
    .checkField {
      opacity: 1;
      width: 10px;
      height: 15px;
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        background: $c-blanco;
        border: 5px solid $c-blanco;
        box-shadow: 0 0 0px 3px $c-azul;
      }

      &:checked::before {
        background: $c-azul;
      }
    }
  }

  .xFieldLabel {
    font-weight: normal;
    margin: 0 0 0 30px;
  }

  .xControlName,
  .xControlEmail,
  .xControlDate,
  .xControlPhone,
  .xControlNumber {
    .xLabelContainer{
      display: block;
      width: 100%;
      max-width: 100%;
      text-align: center;
      padding: 0;
      
      label {
        width: 100%;
        text-align: center;
      }
    }
  }

  .xControlCheckbox .xLabelContainer {
    display: none;
  }

  .xFieldContainer {
    padding: 0;
  }

  .xFieldItem {
    margin: 0;

    &.xControlCheckbox.xRequired {
      .xLabelContainer {
        width: 10px;
        min-width: 10px;
        padding: 0;
      }
    }
  }

  .xActionsForm {
    margin-top: 30px;
    margin-left: 0;

    .xPagingButton {
      width: 100%;
      font-size: 1.6em;
      font-weight: bold;
      text-transform: uppercase;
      background-color: $c-azul-oscuro;
      border-top: 3px solid $c-blanco;
      border-bottom: 3px solid $c-blanco;
    }
  }
}

@media #{$grid-sm} {
  .ticketFormContainer {
    #nameWrapper,
    #PhoneWrapper,
    #emailWrapper,
    .xControlCheckbox {
      padding: 0 10%;
    }

    #name_Firstname {
      margin-bottom: 0;
    }

    .xFormPages {
      width: auto !important;
    }

    .xActionsForm {
      text-align: center;

      .xPagingButton {
        border: 2px solid #fff;
        border-radius: 10px;
        width: auto;
      }
    }
  }
}

@media #{$grid-md} {
  .details, .xStateDetails {
    .xPage {
      background-image: $background-home;
    }
  }

  #xSectionDetails .xMediaContainer {
    padding: 45px 0 0 0;
    
    img {
      max-width: -webkit-fill-available;
    }
  }

  .ticketFormContainer {
    transform: translateY(15%);

    .xFormPages {
      margin: 0 20%;
    }
  }
}

@media #{$grid-lg} {
  #xSectionDetails .xMediaContainer {
    padding: 8% 0 0 0;
  }

  .ticketFormContainer {
    #nameWrapper,
    #PhoneWrapper,
    #emailWrapper,
    .xControlCheckbox {
      padding: 0 10%;
    }
  }
}