$assets_path: '/static/images/';

$background-home: url(#{$assets_path}background_blue_mob_2.jpg);
$background-home-mobile: url(#{$assets_path}background_blue_mob_2.jpg);

$background-section: url(#{$assets_path}background_blue.jpg);
$background-section-mobile: url(#{$assets_path}background_blue.jpg);

$background-game: url(#{$assets_path}background_controller.jpg);
$background-header-mobile: url(#{$assets_path}background_header_mob.jpg);