$assets_path: '/static/images/';

$background-home: url(#{$assets_path}fonde-mobile.jpg);
$background-home-mobile: url(#{$assets_path}background_blue_mob_2.jpg);
$background-header-mobile: url(#{$assets_path}background_header_mob.jpg);

$background-section: url(#{$assets_path}background_blue.jpg);
$background-section-mobile: url(#{$assets_path}background_blue.jpg);

$background-game: url(#{$assets_path}background_controller.jpg);
$background-netflix: url(#{$assets_path}background_netflix.jpg);
$background-premios: url(#{$assets_path}background_premios.jpg);

$icon-camera: url(#{$assets_path}icon_camera.png);
$icon-control: url(#{$assets_path}icon_control.png);
$icon-logout: url(#{$assets_path}icon_logout.png);
$icon-menu: url(#{$assets_path}icon_menu.png);
$icon-privacy: url(#{$assets_path}icon_privacy.png);
$icon-question: url(#{$assets_path}icon_question.png);
$icon-reloj: url(#{$assets_path}icon_reloj.png);
$icon-tel: url(#{$assets_path}icon_tel.png);
$icon-terms: url(#{$assets_path}icon_terms.png);

$splash-choco_1: url(#{$assets_path}splash_choco_1.png);
$splash-choco_2: url(#{$assets_path}splash_choco_2.png);

$modo-pantera: url(#{$assets_path}modo_pantera_only.png);
$modo-pantera-gana: url(#{$assets_path}modo_pantera.png);