$breakpoints: (
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
);

@function create-breakpoint($grid-name) {
  @return ('screen and (min-width: #{map-get($breakpoints, $grid-name)})');
}

$grid-xs: create-breakpoint('xs');
$grid-sm: create-breakpoint('sm');
$grid-md: create-breakpoint('md');
$grid-lg: create-breakpoint('lg');
$grid-xl: create-breakpoint('xl');
$grid-xxl: create-breakpoint('xxl');

// Colores
$c-black: #000;
$c-white: #fff;
$c-red: #ed1c24;
$c-transparent: transparent;
$c-naranja: #f99c1c;
$c-azul: #001b5d;
$c-sams: #002F6E;
$c-walmart: #2F6BA7;
$c-chedraui: #F1892A;
$c-enfashop: #0171a8;


// Colorses alpha
$c-5-black: rgba($c-black, 0.5);

$font-avenir: 'Avenir Oblique';