$breakpoints: (
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
);

@function create-breakpoint($grid-name) {
  @return ('screen and (min-width: #{map-get($breakpoints, $grid-name)})');
}

$grid-xs: create-breakpoint('xs');
$grid-sm: create-breakpoint('sm');
$grid-md: create-breakpoint('md');
$grid-lg: create-breakpoint('lg');
$grid-xl: create-breakpoint('xl');
$grid-xxl: create-breakpoint('xxl');

// Colores
$c-negro: #000;
$c-blanco: #fff;
$c-cafe-oscuro: #3c1b1a;
$c-cafe: #642805;
$c-cafe-claro: #8A4814;
$c-crema: #F6E8CD;
$c-azul-oscuro: #0F1E56;
$c-azul: #0A59A2;
$c-azul-claro: #2AA1D2; 
$c-gris: #b8b8b8;
$c-dorado: #AC8833;
$c-amarillo: #EAD23D;
$c-naranja: #F4A91D;
$c-shadow: #7c7c7c91;