$breakpoints: (
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
);

@function create-breakpoint($grid-name) {
  @return ('screen and (min-width: #{map-get($breakpoints, $grid-name)})');
}

$grid-xs: create-breakpoint('xs');
$grid-sm: create-breakpoint('sm');
$grid-md: create-breakpoint('md');
$grid-lg: create-breakpoint('lg');
$grid-xl: create-breakpoint('xl');
$grid-xxl: create-breakpoint('xxl');

// Colores
$c-black: #000;
$c-white: #fff;
$c-transparent: transparent;


$font-avenir: 'Avenir Oblique';