.Content, .xStateContent {
    #xSectionContent {
        text-align: center;
        background: $background-section-dsk;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        h1, h2, a {
            font-size: 25px;
            text-transform: uppercase;
            font-family: $font-gothamItalic;
        }

        h2 {
            margin-bottom: 35px;
        }

        h3 {
            font-size: 20px;
        }

        img {
            margin: 10% auto;
            width: 30%;
        }
    }
}

@media #{$grid-sm} {
    .Content, .xStateContent {
        #xSectionContent {
            background-position-x: 30%;

            img {
                margin: 6% auto;
                width: 15%;
            }
        }
    }
}

@media #{$grid-md} {
    .Content, .xStateContent {
        #xSectionContent {
            h1, h2, a {
                font-size: 30px;
            }
        }
    }
}

@media #{$grid-lg} {
    .Content, .xStateContent {
        #xSectionContent {
            background-position-x: left;

            img {
                margin: 4% auto;
                width: 130px;
            }
        }
    }
}