.Content1 {
    h1 {
        background: -webkit-linear-gradient($c-dorado, $c-amarillo);
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 0px 20px $c-shadow;
        -webkit-background-clip: text;
        -webkit-text-stroke: 0;
        color: $c-dorado;
        font-size: 25px;
        text-align: center;
        font-weight: bold;
    }

    h2 {
        text-shadow: 0px 0px 20px $c-shadow;
        -webkit-text-stroke: 2px $c-dorado;
        color: $c-blanco;
        font-size: 25px;
        text-align: center;
        font-weight: bold;
    }

    #xSectionContent1R4C1 h2 {
        background: -webkit-linear-gradient($c-dorado, $c-amarillo);
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 0px 20px $c-shadow;
        -webkit-text-stroke: 3px $c-negro;
        -webkit-background-clip: text;
        text-align: center;
        color: $c-amarillo;
        font-weight: bold;
        font-size: 40px;
    }

    h3 {
        background: -webkit-linear-gradient($c-dorado, $c-amarillo);
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 0px 20px $c-shadow;
        -webkit-background-clip: text;
        -webkit-text-stroke: 0;
        color: $c-dorado;
        font-size: 25px;
        text-align: center;
        font-weight: bold;
    }

    #xSectionContent1R1 {
        .xRowInner {
            display: grid;
            grid-template-columns: 1fr 1fr;
            border-top: 2px solid $c-blanco;

            #xSectionContent1R1C1 {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $c-azul-oscuro;
            }
            
            #xSectionContent1R1C2 {
                width: 100%;
                position: relative;

                .xMediaImage {
                    &::before {
                        content: "";
                        height: 300%;
                        width: 400%;
                        display: block;
                        position: absolute;
                        top: -80%;
                        left: -372%;
                        background: $c-azul-oscuro;
                        z-index: 1;
                        border-right: 3px solid $c-dorado;
                        border-top: 3px solid $c-dorado;
                        border-radius: 0 50% 50% 0;
                    }

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    #xSectionContent1R2 .xRowInner,
    #xSectionContent1R3 .xRowInner,
    #xSectionContent1R4 .xRowInner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        #xSectionContent1R2C1,
        #xSectionContent1R3C2 {
            width: 100%;
        }

        #xSectionContent1R2C2 {
            width: 100%;

            .xCellInner {
                display: flex;
                flex-wrap: wrap;
                
                .xImage {
                    flex-basis: 21%;
                    margin: 2%;

                    .xItemInner {
                        overflow: unset;

                        .xMediaImage {
                            position: relative;
                        
                            &::before {
                                content: 'C''\D3''DIGOS ELECTR\D3NICOS';
                                position: absolute;
                                left: 6%;
                                top: 33%;
                                z-index: 1;
                                font-size: 11px;
                                text-align: center;
                                transform: rotate(345deg);
                            }

                            &::after {
                                content: 'AMAZON';
                                position: absolute;
                                left: 30%;
                                bottom: 30%;
                                font-size: 16px;
                                text-align: center;
                                transform: rotate(345deg);
                            }
                            
                            img {
                                transform: rotate(345deg);
                            }
                        }
                    }

                    &:nth-of-type(2) .xMediaImage::after {
                        content: 'UBER';
                        left: 40%;
                        bottom: 32%;
                    }

                    &:nth-of-type(3) .xMediaImage::after {
                        content: 'LIVERPOOL';
                        left: 25%;
                        bottom: 32%;
                    }

                    &:last-of-type .xMediaImage::after {
                        content: '$100';
                        left: 42%;
                        bottom: 32%;
                    }
                }
            }
        }
        
        #xSectionContent1R3C2 .xCellInner .xImage .xMediaImage img {
            width: 50%;
        }

        #xSectionContent1R4C2 .xCellInner .xImage .xMediaImage {
            position: relative;
            padding: 25px;

            &::before {
                content: "";
                width: 32vw;
                height: 32vw;
                margin: auto;
                display: block;
                border-radius: 100%;
                border: 6px solid $c-dorado;
                background-color: $c-blanco;
                position: absolute;
                top: 0;
                left: 34vw;
            }

            img {
                position: relative;
                width: 50%;
            }
        }
    }

    #xSectionContent1R2 .xRowInner {
        background-image: linear-gradient(45deg, #2AA1D2 37%, #00AAD9 36%);
        padding: 20px 10px;
        margin: 10px 0;
    }

    #xSectionContent1R3 .xRowInner {
        background-image: linear-gradient(45deg, #2AA1D2 50%, #00AAD9 50%);
        padding: 20px 10px;
        margin: 10px 0;
    }

    #xSectionContent1R4 .xRowInner {
        background-color: $c-azul-oscuro;
    }

    #xSectionContent1R4C1,
    #xSectionContent1R4C2,
    #xSectionContent1R4C3 {
        width: 100%;
    }
}

@media #{$grid-md} {
    .Content1 {
        #xSectionContent1R1 .xRowInner {
            border-bottom: 2px solid $c-blanco;

            h1 {
                font-size: 35px;
            }
            
            #xSectionContent1R1C2 .xMediaImage img {
                width: 50%;
            }
        }
        
        #xSectionContent1R2 .xRowInner,
        #xSectionContent1R3 .xRowInner,
        #xSectionContent1R4 .xRowInner {
            flex-direction: row;
            
            #xSectionContent1R2C1,
            #xSectionContent1R2C2,
            #xSectionContent1R3C1,
            #xSectionContent1R3C2,
            #xSectionContent1R4C1,
            #xSectionContent1R4C2,
            #xSectionContent1R4C3 {
                width: 50%;
            }

            #xSectionContent1R4C2 .xCellInner .xImage .xMediaImage::before {
                width: 10vw;
                height: 10vw;
                top: 1vw;
                left: 12vw;
            }
        }
    }
}

@media #{$grid-xxl} {
    .Content1 #xSectionContent1R4 .xRowInner #xSectionContent1R4C2 .xCellInner .xImage .xMediaImage::before {
        width: 160px;
        height: 160px;
        top: 12px;
        left: 36%;
    }
}