.Confirmation, .xStateConfirmation {
    .menuIcono {
        display: none;
    }

    nav ul .outer-menu {
      display: none;
    }
}

.xSectionConfirmation {
    padding: 45px;
    background: $background-home-mobile;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;

    .xMediaContainer img {
        max-width: 80%;
    }
}

@media #{$grid-md} {
    .Confirmation, .xStateConfirmation {
        .menuIcono {
            display: none;
        }
    
        nav ul .outer-menu {
          display: none;
        }
    }
    
    .xSectionConfirmation{
        background: $background-section;
        background-position-x: center;
        background-position-y: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
}