$font-path: "https://chocomilk.nyc3.digitaloceanspaces.com/fonts" !default;
$fa-font-path: "https://chocomilk.nyc3.digitaloceanspaces.com/webfonts" !default;

@font-face {
  font-family: 'Avenir Oblique';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('#{$font-path}/AvenirLTW04-45BookOblique.woff2') format('woff2'),
  url('#{$font-path}/AvenirLTW04-45BookOblique.woff') format('woff');
}

@font-face {
    font-family: 'Gotham Book';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('#{$font-path}/gotham-book-webfont.woff2') format('woff2'),
    url('#{$font-path}/gotham-book-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Gotham Bold';
    font-style: bold;
    font-weight: 400;
    font-display: block;
    src: url('#{$font-path}/gotham-bold-webfont.woff2') format('woff2'),
    url('#{$font-path}/gotham-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Gotham Italic';
    font-style: bold;
    font-weight: 400;
    font-display: block;
    src: url('#{$font-path}/gotham-ultraitalic-webfont.woff2') format('woff2'),
    url('#{$font-path}/gotham-ultraitalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Velocista Demo';
    font-style: bold;
    font-weight: 400;
    font-display: block;
    src: url('#{$font-path}/velocista-demo-ffp-webfont.woff2') format('woff2'),
    url('#{$font-path}/velocista-demo-ffp-webfont.woff') format('woff');
}


@font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('#{$fa-font-path}/fa-brands-400.eot');
    src: url('#{$fa-font-path}/fa-brands-400.eot?#iefix') format('embedded-opentype'),
    url('#{$fa-font-path}/fa-brands-400.woff2') format('woff2'),
    url('#{$fa-font-path}/fa-brands-400.woff') format('woff'),
    url('#{$fa-font-path}/fa-brands-400.ttf') format('truetype'),
    url('#{$fa-font-path}/fa-brands-400.svg#fontawesome') format('svg');
}

@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('#{$fa-font-path}/fa-regular-400.eot');
    src: url('#{$fa-font-path}/fa-regular-400.eot?#iefix') format('embedded-opentype'),
    url('#{$fa-font-path}/fa-regular-400.woff2') format('woff2'),
    url('#{$fa-font-path}/fa-regular-400.woff') format('woff'),
    url('#{$fa-font-path}/fa-regular-400.ttf') format('truetype'),
    url('#{$fa-font-path}/fa-regular-400.svg#fontawesome') format('svg');
}

@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url('#{$fa-font-path}/fa-solid-900.eot');
    src: url('#{$fa-font-path}/fa-solid-900.eot?#iefix') format('embedded-opentype'),
    url('#{$fa-font-path}/fa-solid-900.woff2') format('woff2'),
    url('#{$fa-font-path}/fa-solid-900.woff') format('woff'),
    url('#{$fa-font-path}/fa-solid-900.ttf') format('truetype'),
    url('#{$fa-font-path}/fa-solid-900.svg#fontawesome') format('svg');
  }