.tabla {
    position: relative;
    background: $background-ganadores-mobile;
    background-repeat: repeat-y;
    background-size: 100%;


    &::before {
        background: #2AA1D2;
        -webkit-text-stroke: 3px transparent;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-family: $font-gothamItalic;
        content: "Ganadores";
        position: absolute;
        font-size: 10vw;
        top: -5px;
        left: 0;
        text-align: center;
        letter-spacing: 1px;
        width: 100%;
        text-shadow: 0 0 20px #000;
    }
    

    h1, h2 {
        background: -webkit-linear-gradient($c-amarillo 40%, $c-naranja 60%);
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px $c-azul-oscuro;
        -webkit-background-clip: text;
        text-align: center;
        color: $c-amarillo;
        font-weight: bold;
        font-size: 10vw;
        margin: 0 auto 25px auto;
        font-family: $font-gothamItalic;
        line-height: 1.16;
        letter-spacing: 1px;
        position: relative;
        padding: 0 10%;
        z-index: 1;
    }
    
    h3 {
        margin: 0;
        font-size: 1em;
        color: $c-blanco;
        font-weight: bold;
        text-align: center;
        font-family: $font-gothamBold;
        text-shadow: 0 3px 7px $c-negro;
    }

    h4 {
        color: $c-amarillo;
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
    }

    table {
        width: 100%;

        tr {
            display: inline-flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
        }

        td {
            width: 100%;
            display: flex;
            flex-direction: column;

            img {
                margin: auto;
            }
        }
    }
    
    .xSectionPrizes .xCopyContainer::before {
        content: "Ganadores";
    }

    p {
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        font-family: $font-gothamBook;
    }
}

@media #{$grid-xs} {
    .tabla {
        table td {
            width: 48%;
            margin: 15px auto;
            display: inline-flex;
        }
        h1, h2 {
            -webkit-text-stroke: 3px #0F1E55;
        }
    }
}

@media #{$grid-sm} {
    .tabla {
        table td {
            width: 32%;
        }
        h1, h2 {
            -webkit-text-stroke: 4px #0F1E55;
        }
    }
}

@media #{$grid-md} {
    .tabla {
        background: $background-ganadores;
        background-size: 100%;
        background-repeat: repeat-y;

        table td {
            width: 24%;
        }
        h1, h2 {
            -webkit-text-stroke: 5px #0F1E55;
            padding: 0;
        }
    }
}

@media #{$grid-lg} {
    .tabla {
        &::before {
            font-size: 5.5vw;
        }
        h1, h2 {
            -webkit-text-stroke: 3.5px #0F1E55;
            font-size: 5.5vw;
        }
    }
}

@media #{$grid-xl} {
    .tabla {
        table td {
            width: 20%;
        }
    }
}

@media #{$grid-xxl} {
    .tabla {
        &::before {
            font-size: 90px;
        }
        h1, h2 {
            font-size: 90px;
        }
    }
}
