nav ul {
  background-color: $c-cafe-oscuro;
  color: $c-blanco;
}

#xSectionHeader {
  background-color: $c-cafe-oscuro;
  position: fixed;
  height: 100%;
  width: 70%;
  z-index: 4;
  left: 0;
  top: 0;
  display: none;

  #HeaderR1 .xCampaignHeader ul.xNavMain {
    display: flex;
    flex-direction: column;
    
    li.xTab {
      margin: 0;
      text-align: left;

      .xTabLink {
        cursor: pointer;

        &::before {
          content: '';
        }
      }
    }
  }
}

#xSectionDetails{
  padding-top: 15px;
  height: 100%;
  min-height: 95vh;
  background: url('../images/background_blue_mob_2.jpg');
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;

  .xComponentInner {
    position: relative;
    z-index: 2;

    h1,
    h2 {
        text-align: center;
        font-weight: bold;
    }

    h1 {
        font-size: 3.5vw;
        -webkit-text-stroke: 2px $c-blanco;
        text-transform: uppercase;
        position: relative;
        text-shadow: 6px 6px 2px rgba(84, 84, 84, .9);

        &::before{
          -webkit-text-stroke: 1px $c-blanco;
        }

        .prize-sign {
            font-size: 35px;
            margin-right: 10px;
            -webkit-text-stroke: .09rem $c-blanco;
            vertical-align: text-bottom;
        }
        
        .prize-number {
          font-size: 60px;
            text-shadow: 8px 8px 2px rgba(84, 84, 84, .9);
        }

        .prize-currency {
          font-size: 18px;
          bottom: -15px;
          text-shadow: 1px 1px 0px $c-blanco, 0 0 10px $c-blanco, 0 0 10px $c-blanco;
        }
      }

    h2 {
      font-size: 30px;
      line-height: 30px;
      margin: 0 0 80px;
      -webkit-text-stroke: 0.5px $c-blanco;
      text-shadow: none;
    }

    .mecanica {
      margin-top: 80px;

      .item {
        position: relative;
        font-size: 30px;

        .it {
          position: absolute;
          font-size: 1.5vw;
          bottom: -12px;
          left: 35%;
        }
      }
    }
  }

  .xRowInner {
    .xCell {
      &.n2 {
        .xComponentInner {
          .xMediaContainer.xRenderEmbed.xMediaImage {
            img {
              display: block;
            }
          }
        }
      }

      &.mid {
        width: 100%;
      }
    }
  }
}

.xMediacard .xMediaContainer:last-child {
  margin-bottom: 0;
}


@media #{$grid-md} {
#xSectionHeader {
  width: 50%;
  left: auto;
  right: 0;
}
}