nav>ul {
  background-color: $c-cafe;
  background-image: $background-header-mobile;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $c-blanco;
  list-style: none;
  padding: 0 10px;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 90px 2fr 3fr;

  li a {
    font-family: $font-gothamBook;
  }

  &::before {
    content: '';
    width: 100px;
    height: 79px;
    display: block;
    background-image: $modo-pantera;
    background-repeat: no-repeat;
    background-size: contain;
    grid-row: 1;
    grid-column: 3;
  }

  &::after {
    content: '';
    width: 100px;
    height: 68px;
    display: block;
    background-image: $logo;
    background-repeat: no-repeat;
    background-size: contain;
    grid-row: 1;
    grid-column: 2;
    justify-self: flex-end;
    transform: rotate(-10deg);
  }

  >div {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    left: 5%;
    grid-row: 1;
    grid-column: 1;
  }

  .outer-menu {
    display: none;
    
    a {
      margin: 0 15px;
      padding: 30px 30px 20px 30px;
      background-color: $c-cafe-oscuro;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: $font-gothamBook;

      p {
        color: $c-transparent;
        margin-top: 10px;
      }
      
      &:focus,
      &:active {
        text-decoration: none;
      }

      &:hover {
        background-color: $c-cafe-claro;
        text-decoration: none;
        
        p {
          color: $c-blanco;
        }
      }
    }

    .icon {
      display: block;
      width: 50px;
      height: 50px;

      &-pancho {
        background-image: $menu-pancho;
        background-repeat: no-repeat;
        background-size: contain;
      }

      &-control {
        background-image: $menu-control;
        background-repeat: no-repeat;
        background-size: contain;
      }
      
      &-regalo {
        background-image: $menu-regalo;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
  
  .menuIcono{
    width: 40px;
    height: 35px;
    background-image: $icon-menu;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
  }
}

#xSectionHeader {
  background-color: $c-cafe;
  position: fixed;
  height: 100%;
  width: 80%;
  z-index: 4;
  left: 0;
  top: 0;
  display: none;
  overflow: auto;

  #HeaderR1 .xCampaignHeader {
    background-color: $c-transparent;

    ul.xNavMain {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background: $c-transparent;

      &::before {
        content: '';
        width: 190px;
        height: 150px;
        display: block;
        margin: 10px 4%;
        background-image: $modo-pantera;
        background-repeat: no-repeat;
        background-size: contain;
      }

      &::after {
        display: none;
      }
      
      li.xTab {
        margin: 0;
        width: 100%;
        text-align: left;

        .xTabLink {
          cursor: pointer;
          width: 100%;
          padding: 10px;
          font-size: 18px;
          display: grid;
          align-items: center;
          grid-template-columns: 50px 1fr;

          &:hover {
            opacity: .5;
            text-decoration: none;
          }

          &::before {
            content: '';
            width: 40px;
            height: 40px;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 50%;
            border-radius: 100%;
            margin: 0;
          }
        }
      }
    
      li.detailsTab .xTabLink::before {
        background-image: $menu-control;
        background-size: 100%;
      }
  
      li.prizesTab .xTabLink::before {
        background-image: $menu-regalo;
        background-size: 100%;
      }
  
      li.content1Tab .xTabLink::before {
        background-image: $menu-regalo;
        background-size: 100%;
      }
  
      li.contentTab {
        order: 2;
  
        .xTabLink::before {
          background-image: $icon-tel;
          border: 2px solid #fff;
        }
      }
  
      li.content2Tab {
        order: 1;
        margin-top: 25px;
        
        .xTabLink::before {
          background-image: $icon-question;
          border: 2px solid #fff;
        }
      }
      
      li.content3Tab {
        order: 3;
        
        .xTabLink::before {
          background-image: $icon-privacy;
          border: 2px solid #fff;
        }
      }
      
      li.content4Tab {
        order: 4;
  
        .xTabLink::before {
          background-image: $icon-terms;
          border: 2px solid #fff;
        }
      }
    }
  }
}

#xSectionDetails {
  padding-top: 10px;
  height: 100%;
  min-height: 95vh;

  .xComponentInner {
    position: relative;
    z-index: 2;

    h1,
    h2 {
        text-align: center;
        font-weight: bold;
    }

    h1 {
        font-size: 3.5vw;
        -webkit-text-stroke: 2px $c-blanco;
        text-transform: uppercase;
        position: relative;
        text-shadow: 6px 6px 2px rgba(84, 84, 84, .9);

        &::before{
          -webkit-text-stroke: 1px $c-blanco;
        }

        .prize-sign {
            font-size: 35px;
            margin-right: 10px;
            -webkit-text-stroke: .09rem $c-blanco;
            vertical-align: text-bottom;
        }
        
        .prize-number {
          font-size: 60px;
            text-shadow: 8px 8px 2px rgba(84, 84, 84, .9);
        }

        .prize-currency {
          font-size: 18px;
          bottom: -15px;
          text-shadow: 1px 1px 0px $c-blanco, 0 0 10px $c-blanco, 0 0 10px $c-blanco;
        }
      }

    h2 {
      font-size: 30px;
      line-height: 30px;
      margin: 0 0 80px;
      -webkit-text-stroke: 0.5px $c-blanco;
      text-shadow: none;
    }

    .mecanica {
      margin-top: 80px;

      .item {
        position: relative;
        font-size: 30px;

        .it {
          position: absolute;
          font-size: 1.5vw;
          bottom: -12px;
          left: 35%;
        }
      }
    }
  }

  .xRowInner {
    .xCell {
      &.n2 {
        .xComponentInner {
          .xMediaContainer.xRenderEmbed.xMediaImage {
            img {
              display: block;
            }
          }
        }
      }

      &.mid {
        width: 100%;
      }
    }
  }
}

.xMediacard .xMediaContainer:last-child {
  margin-bottom: 0;
}

@media #{$grid-md} {
  nav ul {
    background-size: 600px;
    background-position: -115px;
    grid-template-columns: 3fr 4fr 1fr;

    &::before {
      justify-self: flex-end;
      margin-right: 3vw;
      grid-column: 1;
      height: 11vw;
      width: 14vw;
    }

    &::after {
      justify-self: flex-start;
      margin-left: 3vw;
      grid-column: 1;
      height: 10vw;
      width: 14vw;
    }

    >div {
      left: auto;
      right: 5%;
    }

    .outer-menu {
      display: flex;
      justify-self: flex-end;
    }
  }

  #xSectionHeader {
    width: 50%;
    left: auto;
    right: 0;
  }

  #xSectionDetails {
    .xRowInner .xCell.mid {
      width: 50%;
    }
  }
}

@media #{$grid-lg} {
  nav ul {
    &::before {
      margin: 0;
      width: 130px;
      height: 100px;
      justify-self: center;
    }

    &::after {
      width: 130px;
      height: 100px;
      margin-left: 0px;
    }
  }
}

@media #{$grid-xl} {
  nav > ul {
    background-size: contain;
    background-position: left;

    &::after {
      margin-left: 25px;
    }
  }
}