.xSectionPrizes {
    text-align: center;
    background: $background-section-dsk;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;


    .xTitle, h2 {
        background: -webkit-linear-gradient($c-amarillo 40%, $c-naranja 60%);
        -webkit-text-fill-color: $c-transparent;
        -webkit-text-stroke: 2px $c-negro;
        -webkit-background-clip: text;
        text-align: center;
        color: $c-amarillo;
        font-weight: bold;
        font-size: 10vw;
        margin: 0 auto 25px auto;
        font-family: $font-gothamItalic;
        line-height: 1.16;
        letter-spacing: 1px;
        position: relative;
        padding: 0 10%;
    }

    .xCopyContainer {
        position: relative;
        font-family: $font-gothamItalic;

        &::before {
            background: $c-negro;
            -webkit-text-stroke: 3px transparent;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            content: "Big Prize";
            position: absolute;
            font-size: 10vw;
            left: 0%;
            top: -5%;
            text-align: center;
            letter-spacing: 1px;
            width: 100%;
        }
    }

    #xSectionPrizesR1C2 .xComponentInner {
        position: relative;
        font-family: $font-gothamItalic;

        &::before {
            background: $c-negro;
            -webkit-text-stroke: 3px transparent;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            content: "Premios Semanales:";
            position: absolute;
            font-size: 10vw;
            left: 0;
            top: 0.3%;
            text-align: center;
            line-height: 1.01;
            width: 100%;
        }
    }

    #xSectionPrizesR2C1 .n1 .xComponentInner {
        position: relative;
        font-family: $font-gothamItalic;

        &::before {
            background: $c-negro;
            -webkit-text-stroke: 3px transparent;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            content: "Premios Digitales:";
            position: absolute;
            font-size: 10vw;
            left: 0;
            top: 0.3%;
            text-align: center;
            line-height: 1.01;
            width: 100%;
            padding: 0 10%;
        }
    }

    h2 {
        line-height: 1;
    }
    
    h3 {
        margin: 0;
        font-size: 1em;
        color: $c-blanco;
        font-weight: bold;
        text-align: center;
        font-family: $font-gothamBold;
        text-shadow: 0 3px 7px $c-negro;
    }

    sub {
        display: block;
        font-size: 15px;
        -webkit-text-stroke: 0;
        -webkit-text-fill-color: $c-blanco;
        text-shadow: 0px 3px 7px $c-negro;

    }

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
            display: grid;
            margin: 15px 0;
            grid-gap: 0 4%;
            flex-basis: 100%;
            grid-template-columns: 40% 56%;
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:
                'img title'
                'img desc';
            position: relative;

            img {
                grid-area: img;
                margin: auto;
            }
            
            b {
                grid-area: title;
                justify-self: start;
                align-self: end;
                background: -webkit-linear-gradient($c-amarillo, $c-naranja);
                -webkit-text-fill-color: $c-transparent;
                -webkit-background-clip: text;
                -webkit-text-stroke: 0;
                color: $c-naranja;
                font-size: 15px;
                text-align: left;
                line-height: 1;
                font-weight: bold;
                position: relative;
                text-transform: uppercase;
                text-shadow: 0px 4px 5px $c-sombra;
            }
            
            sub {
                grid-area: desc;
                line-height: 1.5;
                align-self: start;
                justify-self: start;
                font-size: 15px;
                text-align: left;
            }
        }
    }
    
    #xSectionPrizesR1C1 {
        width: 100%;
        
        .xMediaContainer {
            padding: 5%;
            position: relative;

            img {
                width: 60%;
                margin: auto;
                position: relative;
            }

            &::before {
                position: absolute;
                top: 0;
                left: 30%;
                content: "";
                width: 40vw;
                height: 40vw;
                display: block;
                border-radius: 100%;
                border: 6px solid $c-dorado;
                background-color: $c-blanco;
            }
        }
        
        h2 {
            background: -webkit-linear-gradient($c-amarillo 40%, $c-naranja 60%);
            -webkit-text-fill-color: $c-transparent;
            -webkit-background-clip: text;
            -webkit-text-stroke: 0;
            color: $c-naranja;
            font-size: 30px;
            line-height: 1.8;
        }
        
        &::after {
            width: 90%;
            content: '';
            margin: 20px auto;
            display: block;
            border-bottom: 1px solid $c-blanco;
        }
    }

    #xSectionPrizesR1C2 {
        width: 100%;
    }

    #xSectionPrizesR2C1 {
        .xFullColModule.xImage img {
            width: 50%;
        }

        ul li {
            img {
                grid-area: img;
                margin: auto;
                transform: rotate(-11deg);
            
            }

            &::before {
                grid-area: img;
                content: '';
                width: 30vw;
                height: 30vw;
                margin: auto;
                display: block;
                border-radius: 100%;
                border: 6px solid $c-dorado;
                background-color: $c-blanco;
            }
        }
    }
}

@media #{$grid-xs} {
    .xSectionPrizes {
        .xTitle, h2 {
            -webkit-text-stroke: 3px $c-negro;
        }
    }
}

@media #{$grid-sm} {
    .xSectionPrizes {
        .xTitle, h2 {
            -webkit-text-stroke: 4px $c-negro;
        }

        .xCopyContainer::before {
            top: -4%;
        }

        #xSectionPrizesR1C2 .xComponentInner::before {
            top: 1%;
        }
        
        #xSectionPrizesR2C1 .n1 .xComponentInner::before {
            top: 1%;
        }

        ul li {
            flex-basis: 45%;
            margin: 15px auto;
        }

        #xSectionPrizesR2C1 {
            .xFullColModule.xImage img {
                width: 200px;
            }

            ul li::before {
                width: 16vw;
                height: 16vw;
            }
        }
    }
}

@media #{$grid-md} {
    .xSectionPrizes {
        .xTitle, h2 {
            -webkit-text-stroke: 5px $c-negro;
            padding: 0;
        }

        #xSectionPrizesR2C1 {
            h2 {
                max-width: 500px;
            }

            ul li {
                flex-basis: 30%;
                
                &::before {
                    width: 12vw;
                    height: 12vw;
                }
            }
        }
    }
}

@media #{$grid-lg} {
    .xSectionPrizes {
        .xTitle, h2 {
            -webkit-text-stroke: 3.5px $c-negro;
            font-size: 5.5vw;
        }

        .xCopyContainer::before {
            font-size: 5.5vw;
        }

        #xSectionPrizesR1C2 .xComponentInner::before {
            font-size: 5.5vw;
        }

        #xSectionPrizesR2C1 .n1 .xComponentInner::before {
            font-size: 5.5vw;
            padding: 0 30%;
        }

        #xSectionPrizesR1 .xRowInner {
            display: grid;
            grid-template-columns: 50% 50%;

            #xSectionPrizesR1C1 {
                padding: 0 25px 10px 0;
                border-right: 1px solid #fff;
                border-bottom: 2px solid #fff;

                .xMediaContainer::before {
                    left: 30%;
                    width: 17vw;
                    height: 17vw;
                }
            }

            #xSectionPrizesR1C2 {
                padding: 0 0 0 25px;
                border-left: 1px solid #fff;
                border-bottom: 2px solid #fff;
            }

            #xSectionPrizesR1C1::after {
                display: none;
            }
        }

        #xSectionPrizesR2C1 ul li::before {
            width: 8vw;
            height: 8vw;
        }
    }
}

@media #{$grid-xl} {
    .xSectionPrizes {
        #xSectionPrizesR2C1 {
            .n1 .xComponentInner::before {
                padding: 0 25%;
            }

            ul li::before {
                width: 140px;
                height: 140px;
            }
        }

        #xSectionPrizesR1 .xRowInner #xSectionPrizesR1C1 .xMediaContainer::before {
            left: 31%;
            width: 250px;
            height: 250px;
        }
    }
}

@media #{$grid-xxl} {
    .xSectionPrizes {
        .xTitle, h2 {
            font-size: 90px;
        }

        .xCopyContainer::before {
            font-size: 90px;
        }

        #xSectionPrizesR1C2 .xComponentInner::before {
            font-size: 90px;
        }

        #xSectionPrizesR2C1 .n1 .xComponentInner::before {
            font-size: 90px;
        }

        #xSectionPrizesR2C1 .xFullColModule.xImage img {
            width: 250px;
        }
    }
}