#ngxUserUploadWrapper {
    display: flex;
    flex-direction: column-reverse;

    .xLabelContainer {
        font-family: $font-gothamItalic;
        text-align: center;
        font-size: 1.5em;
        letter-spacing: 1.5px;
        margin: 10px auto;
        padding: 0;
        width: 100%;
        max-width: 100%;
    }

    .xHelpLabel {
        font-family: $font-gothamBold;
        margin: 0px 10px 10px 10px;
        text-align: center;
    }

    .xFieldContainer {
        display: flex;
        flex-direction: column-reverse;
        width: 100% !important;

        .xFileAction {
            right: 0;
        }

        .xUploader {
            span {
                display: none;
            }

            &::before {
                content: "";
                display: block;
                width: 100px;
                height: 100px;
                margin: auto;
                background-image: $icon-camera;
                background-position: center;
                background-size: cover;
            }
        }
    }
}